################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sleeper/bin/Debug/netcoreapp3.1
/Sleeper/obj
/RemoteCommand/.vs/RemoteCommand
/RemoteCommand/bin/Debug/netcoreapp3.1
/RemoteCommand/obj
